body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  background: black;
  color: white;
  z-index: 3;
  padding: 0.75em 2em;
  border-radius: 100vmax;

  &:hover {
    background-color: #444;
  }
}

h2 {
  font-size: 2rem;
  line-height: 0.9;
  text-transform: uppercase;

  span {
    font-weight: 300;
    display: block;
  }
}

.main__title {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  margin-bottom: 0.2em;
  text-wrap: pretty; /* new balance and pretty*/
}

.main-grid-to-rule-them-all {
  --column-count: 6;
  display: grid;
  gap: 0 1rem;
  background-color: hsla(204, 84%, 66%, 0.5);
  grid-template-columns:
    minmax(1rem, 1fr) repeat(var(--column-count), minmax(0, 10rem))
    minmax(1rem, 1fr);
}

.main-grid-to-rule-them-all > * {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
}

@media (max-width: 650px) {
  .main-grid-to-rule-them-all > * > * {
    grid-column: 2 / -2;
  }

  .hero {
    grid-column: 2/0;

    & img {
      width: 100%;
      aspect-ratio: 3/4;
      contain: size;
    }
  }
}

@media (min-width: 650px) {
  .even-columns > * {
    grid-column: span var(--col-width);

    &:first-child {
      grid-column: var(--col-start, 2) / span var(--col-width);
    }

    &:last-child {
      grid-column: span var(--col-width) / calc(var(--col-start * 2) * -1);
    }
  }

  /* 
  old way without nesting
  .even-columns > *:first-child {
    grid-column: var(--col-start, 2) / span var(--col-width);
  } 
  .even-columns > *:last-child {
    grid-column: span var(--col-width) / calc(var(--col-start * 2) * -1);
  }
    */

  /*   .even-columns > *:only-child {
    grid-column: span var(--col-width);
    background-color: wheat;
  } */

  .two-columns {
    --col-width: calc(var(--column-count) / 2);
  }

  .three-columns {
    --col-width: calc(var(--column-count) / 3);
  }

  .hero {
    padding: 3em 0;
  }

  .hero__title {
    grid-row: 1 / span 2;
    grid-column: 2/7;
    z-index: 2;
    font-size: 3rem;
  }

  .hero__img {
    grid-row: 1 / span 2;
    grid-column: 5/8;
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .hero__body {
    grid-row: 2;
    grid-column: 2/4;
    z-index: 3;
    & p {
      padding: 2em 0;
    }
  }
}

.hero__body {
  & p {
    padding: 1em 0;
  }
}

.more-stuff {
  --col-width: 2;
  --col-start: 3;
}

.cta {
  --col-width: 4;
  --col-start: 3;
}

.full-split {
  gap: 0;
}

.full-split > * {
  --col-start: 1;
  --col-width: 4;
}

.full-split > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 100vh;
}

.v-center {
  display: grid;
  align-items: center;
  margin: 0;
  text-align: left;
}

.bg-dark {
  background: black;
  color: white;
}

.p-3 {
  padding: 3rem;
}

.odd {
  background-color: hsla(125, 50%, 30%, 0.5);
}

.even-columns:has(img) > p {
  background-color: rgba(86, 201, 162, 0.5);
  color: hsla(60, 60%, 30%, 1);
}

/* (has) has high selectivity, it overrides prev selectors */

h2:is(:hover) {
  background: rgba(41, 41, 41, 0.5);
  border-radius: 100%;
}

/*adj sibiling directly after it*/
.sales-points__title:has(+ .sales-point__body) {
  color: hsla(204, 84%, 66%, 1);
}

.even-columns:not(:has(img)) {
  color: rgb(90, 240, 210);
}

.even-columns:has(p:hover) p:not(:hover) {
  border: 5px solid lawngreen;
}

:where(:hover.btn) {
  &:last-child {
    margin-left: 250px;
  }
}
